/* HEADER*/
header {
    background-color: #2c3e50;
}

.ms_debug {
    border: 1px solid black;
}


/* MAIN */
#hero {
    background-color: #1abc9c;
}

#hero img {
    width: 250px;
}

.ms_line {
    height: 4px;
    width: 70px;
}

#portfolio .ms_line, #contacts .ms_line {
    background-color: #2c3e50;
}

#portfolio .bi-star-fill, #contacts .bi-star-fill {
    color: #2c3e50;
}

#about {
    background-color: #1abc9c;
}

.ms_info {
    width: 60%;
}

.ms_placeholder {
    margin-bottom: 1rem;
}

.ms_placeholder::placeholder {
    color: #2c3e50;
    font-weight: 600;
    font-size: 1.25rem;
    opacity: 1;
}

textarea {
    resize: none;
}

form div:last-child {
    max-width: fit-content;
    border-radius: 8px;
    background-color: #1abc9c;
}

/* FOOTER */
#top_footer {
    background-color: #3a546d;
}

#bottom_footer {
    background-color: #2c3e50;
}

/* TABLET, DESKTOP VERSION */
@media screen and (min-width:768px) {
    .ms_line {
        width: 140px;
    }

    .ms_info {
        width: 80%;
    }
}