/* DEBUG HEADER*/
header {
    background-color: #2c3e50;
}

#nav_bar{
    min-height: 90px;
}

#title {
    width: 200px;
    height: 30px;
    background-color: white;
}

li {
    list-style-type: none;
    background-color: white;
    width: 100px;
    height: 15px;
}

#hamburger {
    width: 30px;
    height: 30px;
    background-color: white;
}

/* DEBUG MAIN */
#hero {
    background-color: #1abc9c;
}

#hero img {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid;
}

h1 {
    background-color: white;
    width: 350px;
    height: 50px;
}

/* .ms_spacer {
    background-color: white;
    width: 200px;
    height: 30px;
} */

.ms_subtitle {
    background-color: white;
    width: 450px;
    height: 35px;
}


#portfolio .ms_spacer {
    background-color: #2c3e50;
    min-height: 30px;
}

.ms_card {
    padding-top: 75%;
    border-radius: 1rem;
}

#ms_first {
    background-color: #ba4b63;   
}

#ms_second {
    background-color: #1ea4b6;   
}

#ms_third {
    background-color: #140f0f;   
}

#ms_fourth {
    background-color: #1c83c1;   
}

#ms_fifth {
    background-color: #0e38b5;   
}

#ms_sixth {
    background-color: #ccb2a3;   
}